
<ul class="nav nav-sidebar">
  <div id="tree1"></div>
</ul>

<script type ="text/javascript">

$('#tree1').tree({
    data: <%= raw @design.meta_data.to_json %>,
    autoOpen: true,
    dragAndDrop: true
});
</script>