<div class="row">
  <div class="col-md-4">
    <%= render 'side_bar_tree' %>
  </div>
  <div class="col-md-8">
  <div class="row">
  <%= button_to "Download all images in this design", {action: "export_images", id: @design.id, method: :post } , class: "btn btn-danger download-button" %>

    <%= button_to "Convert this file to iOS Screen", {controller: "ios_screens", action: "export", design_id: @design.id, method: :post } , class: "btn btn-danger download-button" %>
  </div>
</div>
