<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    <img src="logo.jpg"/>
      <div class="row tagline">
        <p class="lead col-md-6 col-md-offset-3">Magical Process of transmuting PSD files into iOS view files </p>
      </div>
      <div class="row cover-pic">
         <img class = "col-md-10 col-md-offset-1" src="lab.gif"/>
       </div>
          <a href="#" class="btn btn-lg btn-default upload-button">Let the magic begin - <b>Upload PSD</b></a>
        </p>
    </div>
  </div>
</div>
