/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require s3_direct_upload_progress_bars
 *= require jqtree
 *= require_self
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: left;
}
.form-signin label {
  margin-top: 15px;
  color: #38ccb9;
}

.form-signin i {
  font-size: 12px;
  color: #95999a;
}

.form-signin-heading {
  text-align: center
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* Uploads */

.upload-box {
  margin-bottom: 30px;

  .thumbnail {
    background-color: #FEFEFE;
    height: 450px;
    display: block;
    min-height: 450px;
  }
}
.upload-title {
  display: block;
  height: 50px;
  margin-bottom: 5px;
  color: black;
}
.upload-title a {
  color : black;
}


.sidebar {
  background-color: #FFC266;
}


.image-thumbnail {
   
   display: block;
    max-height: 100% !important;
    max-width: 100% !important;
}
   
.image-box {
  margin-top: 20px;
  margin-right: 15px;
  display: block;
  min-height: 100px;
  vertical-align: bottom;
}

