// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  background-color: red;
  border: 1px solid #fff;
}
.tagline {
  margin-top: 20px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #707070;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  text-align: center;
}
.lead {
  font-size: 25px;
}

.upload-button {
  margin-top: 20px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  margin-top: -20px;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
 
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/* Padding for spacing */
.inner {
  padding: 30px;
}





/*
 * Cover
 */


 .btn-lg {
  padding: 10px 76px;

}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}