  <a href = "<%= design_path(id: upload.design.id )%>">
  <div class="col-md-3 col-sm-6 upload-box">
    <div class="thumbnail">
      <%= image_tag(upload.psd_image)%>
      <div class="caption">
        <h3 class="upload-title"><%= upload.psd_file_name %></h3>
      </div>
    </div>
  </div>
</a>