<!-- <div class="upload">
  <div class="col-md-3 col-sm-6 upload-box">
    <div class="thumbnail">
      <img src="http://lorempixel.com/800/500/sports/<%= upload.id % 11 %>" alt="">
      <div class="caption">
        <h3 class="upload-title"></h3>
      </div>
    </div>
  </div>
</div>
 -->

<div class="panel row"><%= upload.id %></div>